doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        title= title
        link(rel='stylesheet', href='../css/styles.css', type='text/css')
        script(type='text/javascript', href='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
        script(type='text/javascript', href='../javascript/script.js')
    body
        div.container
            div.header
                img(src='../img/logo.png')
                div.responsive
                    div#nav
                        ul
                            li
                                a(href='#').active home
                            li
                                a(href='#') sobre
                            li
                                a(href='#') empresa
                            li
                                a(href='#') contato

            div.content
                h1 Galeria
                p Sobre a galeria
                table
                    tr
                        td
                            img(src='../img/1004422_10152895757840453_491518540_n.jpg')
                        td
                            img(src='../img/1005874_10152895767310453_1320882425_n.jpg')
                        td
                            img(src='../img/1003128_10152895748710453_635130995_n.jpg')

            ul.pagination
                li
                    a(href='#') anterior
                each val in [1, 2, 3, 4, 5]
                    li= val
                li
                    a(href='#') proximo